html {
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-family: Roboto, sans-serif;
}

a:hover {
    cursor: pointer;
}

body{
    width:100%;
    margin: 0px; 
}


header {    
    color: lightslategrey;
    display: flex;     
    justify-content: space-between;   
    vertical-align: center;
    padding: 20px 20px; 
    /* position: fixed; */
    /* z-index: 999; */
}

.separator{
    border-bottom: 1px lightslategray solid; 
    width: 100%;
}

#input_bar{
    border: 1px lightslategray solid;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 3px 20px;
    display:flex;
    
}

#input_bar input {
    width:30%;
    border-right: 1px lightslategray solid;
    padding-left: 10px;
} 

input{
    border: transparent;
}

#search_field{
    color:lightslategray;
}

#input_bar select {
    width:10%;
} 

select{
    border: transparent;
    background-color: transparent;
    color: lightslategray; 
    -webkit-appearance: none;  
    -moz-apperance:none; 
    border-radius: 0px;
    padding-left: 10px; 
}

#color_change{
    width: 10%;
    display:flex;
}

.circle{
    border: 1px lightslategray solid; 
    width:10px;
    height:10px;
    border-radius: 100%;
    margin:auto 3px;
}

#circle_black{
    background-color: black;
}

#circle_black:hover{
    cursor:pointer;
}

#circle_white:hover{
    cursor:pointer;
}

#circle_white{
    background-color: white;
}

.button_container{
    width:10%; 
    font-size: 0.8em;
    /* cheap work around to vertically align icons */
    padding-top:4px;
    text-align: center;
}

#cards{
    margin: 20px 20px;
}

.card{
    border-top: 1px solid lightslategray;
    height:200px;
    margin: 10px 10px; 
    padding-top: 10px; 
}

.font_title{
    font-weight: bold;
}

.font_author{
    font-size: 0.8em;
    color: lightslategray;
}

.font_text{
    font-size: 32px;
    margin-top:30px;
}

footer {
    text-align: center;
    font-size: 0.8em; 
}

.navlinks {
    vertical-align: bottom;
}

.navlinks, a{
    margin: auto 5px;
    color:inherit;
    text-decoration: none;
    font-size: 0.9em;
    
}


